.chatSection {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative; /*Allows the button to scroll back to be absolute*/
}

.chatMessages {
  flex: 1;
  overflow: auto;
  position: relative;
}

.chatMessage {
  display: flex;
}

.chatMessageLeft {
  justify-content: flex-start;
}

.chatMessageRight {
  justify-content: flex-end;
}

.chatMessageContent {
  max-width: 600px;
  border: 1px solid #ccc;
  padding: 8px;
  margin: 10px 0;
  border-radius: 4px;
}

.chatMessageLeft .chatMessageContent {
  background: #e5e5ea; /* light gray */
  color: black;
  text-align: left;
}

.chatMessageRight .chatMessageContent {
  color: rgb(25, 24, 36);
  text-align: right;
}

.chatMessageRight.chatMessageSuccess .chatMessageContent {
  background-color: rgb(212, 252, 185);
}

.chatMessageRight.chatMessageError .chatMessageContent {
  background-color: rgb(248, 155, 155);
}

.chatInput {
  flex: 0 0 40px;
  gap: 10px;
  display: flex;
}

.chatInputField {
  flex: 1;
}

.chatInputButton {
  flex: 0 0 80px;
}

.scrollBackButton {
  position: absolute;
  bottom: 50px;
  height: 30px;
  width: 200px;
  left: calc(50% - 100px);

  font-size: 14px;
  background-color: rgba(192, 237, 241, 0.5);
  color: black;
  border: 1px solid black;
  border-radius: 4px;
}

.chatMessageAuthor {
  margin-right: 4px;
}
